/******COLOR******/

:root {
    --main-color:#0084FD;
    --main-colorlight:#B5DDFF;
    --secondary-color:#9792E4;
    --white-color:white;
    --black-color:#000000;
}

.main-color-text{
    color: var(--main-color);
}

.main-color-bg{
    background-color: var(--main-color);
}

.main-colorlight-bg{
    background-color: var(--main-colorlight);
}

.secondary-color-text{
    color: var(--secondary-color);
}

.secondary-color-bg{
    background-color: var(--secondary-color);
}

.third-color-bg{
    background-color: var(--white-color);
}

.fourth-color-bg{
    background-color: var(--black-color);
}


