@import "reset.css";
@import "colors.css";
@import "general.css";

/*****HEADER*****/

.row-navhead{
        display: flex;
        justify-content: space-between;
        padding: 10px;
}

.row-navhead .col-nav ul{
        display: flex;
        list-style: none;
        
}

.row-navhead .col-nav ul li a{
        display: inline-block;
        text-decoration: none;
        color: white;
        padding: 10px;
}

.col-nav{
        display: none;
}

.row-card{
        display: flex;
        flex-wrap: wrap;
        padding: 10px;
        margin: 0 -10px;
}

.col-card{
        width: calc(100% - 20px);
        margin: 0 10px 10px;
}

.col-card > div{
        padding: 10px;
}

.col-style{
        border-radius: 15px;
}

/*

---------------------------
        RESPONSIVE
---------------------------

+/

/* to tablet -> from 768px to */
@media screen and (min-width: 768px) {
        
        /*--HEADER--*/

        /*--MAIN--*/

        .col-card{
                width: calc(100% / 3 - 20px);
        }

        .col-card:first-child {
                width: calc(((100% / 3) * 2) - 20px)
        }

}

/* to desk -> from 992px to */
@media screen and (min-width: 992px) {
        
        /*--
        
        HEADER
        
        --*/

        .col-menu{
                display: none;
        }

        .col-nav{
                display: block;
        }


        /*--
        
        MAIN
        
        --*/

        .double-content{
                display: flex;
                justify-content: space-between;   
        }

        .double-content > div{
                width: 50%;   
        }


}


