@import "reset.css";
@import "colors.css";
@import "general.css";

/*****HEADER*****/

.row-navhead{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px;
}

.row-navhead .col-nav ul{
        display: flex;
        list-style: none;    
}

.row-navhead .col-nav ul li a{
        display: inline-block;
        text-decoration: none;
        color: white;
        padding: 10px;
}

.col-nav{
        display: none;
}

.col-logo img{
        width: 4.3rem;
}

.row-navhead .col-nav .button-nav{
        background-color: white;
        padding: 10px 15px;
        color: black;
        border-radius: 25px;
}

/*****MAIN*****/

/*****FIRST-SECTION*****/

.first-section p{
        color: #687F93;
        font-weight: bold;
        font-size: smaller;
        padding: 20px;
}

.button-appstore{
        text-align: center;
}

.button-appstore a{
        background-color: #0084FD;
        padding: 10px 15px;
        color: white;
        border-radius: 25px;
        text-decoration: none;
        font-size: smaller;
}

.row-card{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 0 -10px;
}

.col-card{
        width: calc(100% - 20px);
        margin: 0 10px 20px;
}

.col-card-double{
        width: calc(100% - 20px);
        margin: 0 10px 20px;
}

.col-style{
        border-radius: 15px;
}

.row-card img{
        width: 90%;
        display: block;
        padding-top: 20px;
}

.first-section{
        padding: 20px 10px;
        text-align: center;
}

.img-container{
        padding-left: 25px;
}

.apple-icon{
        display: inline-block;
        padding-right: 5px;
}

.right{
        margin: 0 auto;
        padding-top: 25px;
}

.left{
        padding-top: 30px; 
}

.big-icon{
        font-size: 4rem;
        padding-top: 40px;
        padding-bottom: 25px;
}

/*****SECOND-SECTION*****/

.row-card-second-section{
        padding: 10px;
}

/*****FOURTH-SECTION*****/


/*****THIRD-SECTION*****/

.third-section h3,h2,p {
        margin-bottom: 20px;
        text-align: center;
}

.testimonial{
        text-align: center;
        padding: 10px;
}

/*****FIFTH-SECTION*****/

/*****SIXTH-SECTION*****/


/*

---------------------------
        RESPONSIVE
---------------------------

+/

/* to tablet -> from 768px to */
@media screen and (min-width: 768px) {
        
        /*--HEADER--*/

        /*--MAIN--*/

        .col-card{
                width: calc(100% / 3 - 20px);
        }

        .col-card-double {
                width: calc(((100% / 3) * 2) - 20px)
        }


        .row-card {
                align-items: stretch;
        }

        .row-card-second-section{
                display: flex;
        }

        .left{
                width: 100%;
        }

        .right{
                width: 100%;
        }

        .row-card img{
                width: 50%;
                margin: 0 auto;
        }

        .img-container{
                padding-left: 0;
        }


        .fourth-section .col-card{
                width: calc(100% / 2 - 20px);
        }

        .testimonial-row{
                display:flex;
        }

        .row-fith-section{
                display:flex
        }

        .col-fifth-section{
                width: 50%;
        }

}

/* to desk -> from 992px to */
@media screen and (min-width: 992px) {
        
        /*--
        
        HEADER
        
        --*/

        .col-menu{
                display: none;
        }

        .col-nav{
                display: block;
        }


        /*--
        
        MAIN
        
        --*/

        .double-content{
                display: flex;
                justify-content: space-between;   
        }

        .double-content > div{
                width: 50%;   
        }

        .fourth-section .col-card{
                width: calc(100% / 3 - 20px);
        }


}


