@import "reset.css";
@import "colors.css";
@import "general.css";

/*****HEADER*****/

.row-navhead{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px;
}

.row-navhead .col-nav ul{
        display: flex;
        list-style: none;    
}

.row-navhead .col-nav ul li a{
        display: inline-block;
        text-decoration: none;
        color: white;
        padding: 10px;
}

.col-nav{
        display: none;
}

.col-logo img{
        width: 4.3rem;
}

.row-navhead .col-nav .button-nav{
        background-color: white;
        padding: 10px 15px;
        color: black;
        border-radius: 25px;
}

/*****MAIN*****/

/*****FIRST-SECTION*****/

.first-section p{
        color: #687F93;
        font-weight: bold;
        font-size: smaller;
        padding: 20px;
}

.button-appstore{
        text-align: center;
}

.button-appstore a{
        background-color: #0084FD;
        padding: 10px 15px;
        color: white;
        border-radius: 25px;
        text-decoration: none;
        font-size: smaller;
}

.row-card{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 0 -10px;
}

.col-card{
        width: calc(100% - 20px);
        margin: 0 10px 20px;
}

.col-card-double{
        width: calc(100% - 20px);
        margin: 0 10px 20px;
}

.col-style{
        border-radius: 40px;
}

.row-card img{
        width: 90%;
        display: block;
        padding-top: 20px;
}

.first-section{
        padding: 50px 10px;
        text-align: center;
}

.img-container{
        padding-left: 25px;
}

.apple-icon{
        display: inline-block;
        padding-right: 5px;
}

.right{
        margin: 0 auto;
        padding-top: 25px;
}

.left{
        padding-top: 30px; 
}

.big-icon{
        font-size: 4rem;
        padding-top: 40px;
        padding-bottom: 25px;
}

/*****SECOND-SECTION*****/

.row-card-second-section{
        padding: 10px;
}

.second-section img{
        width: 100%;
}

.second-section h2{
        text-align: center;
        padding: 20px 0px;
        color: white;
}

.second-section h3{
        text-align: center;
        padding: 20px 0px;
        color: black;
}

.second-section p{
        text-align: center;
        color: white;
}

.container-white{
        background-color: white;
        border-radius: 50px;
        margin-bottom: 30px;
}

.container-white p{
        color: black;
        padding: 15px;
        line-height: 30px;
}

.purple-circle{
        text-align: center;
        padding: 30px;
}

.purple-circle i{
        background-color: var(--secondary-color);
        width: 60px;
        height: 60px;
        padding-top: 30px;
        border-radius: 60%;
}

/*****THIRD-SECTION*****/

.third-section{
        margin-top: 40px;
        text-align: center;
        margin-bottom: 40px;
}

.third-section h2{
        color: var(--secondary-color);
        padding: 20px;
        font-size: 2rem;
        line-height: 30px;
}

.third-section p{
        color: black;
        padding: 15px;
        line-height: 30px;
}

.testimonial{
        text-align: center;
        padding: 10px;
}

.third-section .col-testimonial-right p{
        line-height: 30px;
        color: white;
        padding: 10px;
        display: inline;
}

.third-section img{
        margin-top: 30px;
        width: 200px;
        height: 200px;
        border-radius: 50%;
        padding: 10px;
        object-fit: cover;
}

.third-section i{
        color: white;
}

.third-section h3{
        color: white;
        padding: 30px
}

/*****FOURTH-SECTION*****/

.fourth-section{
        padding: 0 12px;
}

.fourth-section h2{
        text-align: center;
        padding: 20px 0px;
        color: white;
        font-size: 2rem;
}

.col-style-number-card{
        border-radius: 40px;
        padding: 20px;
}

.number-card{
        color: var(--secondary-color);
        font-size: 2.2rem;
        padding: 0 20px;
        font-weight: bold;
}

.fourth-section h3{
        color: var(--secondary-color);
        padding: 10px 20px;
}

.fourth-section .text-number-card{
        padding: 20px;
        font-size: smaller;
        line-height: 25px;
        font-weight: bold;
        color: #687F93;
}

.button-number-card{
        padding: 20px 20px;
}


.button-number-card a{
        background-color: var(--secondary-color);
        padding: 10px 50px;
        color: white;
        border-radius: 25px;
        text-decoration: none;
        font-weight: bold;
}

/*****FIFTH-SECTION*****/

.row-fith-section{
        text-align: center;
}

.fifth-section h2{
        text-align: center;
        padding: 20px 0px;
        color: white;
        font-size: 2rem;
        color: var(--secondary-color);
}

.fifth-section p{
        padding: 15px;
        line-height: 30px;
        text-align: center;
}

.fifth-section img{
        margin-top: 20px;
        margin-bottom: -44px;
        width: 200px;
        height: 200px;
        border-radius: 50%;
        padding: 10px;
        object-fit: cover;
        text-align: center;
}

.apex-upon{
        color: var(--secondary-color);
        position: relative;
        font-size: 3rem;
        top: -168px;
        right: -157px;
        width: 50%;
}

.fifth-section h3{
        color: var(--secondary-color);
        padding: 10px 20px;
}

.button-linkedin{
        padding: 40px 0;
}

.button-linkedin a{
        background-color: var(--secondary-color);
        padding: 10px 50px;
        color: white;
        border-radius: 25px;
        text-decoration: none;
}

/*****SIXTH-SECTION*****/

.text-sixth-section{
        text-align: center;
}

.text-sixth-section .first-p{
        color: #d4d4d4;
        margin-top: 30px;
        
}

.text-sixth-section h3{
        color: white;
        font-size: 1.8rem;
        margin-top: 20px;
}

.text-sixth-section h2{
        color: #FDC15F;
        font-size: 3rem;
        margin-top: 20px;
}

.text-sixth-section .second-p{
        color: white;
        margin-top: 20px;
}

.button-get-started{
        margin-top: 50px;
}

.button-get-started a{
        background-color: white;
        padding: 10px 50px;
        color: var(--secondary-color);
        border-radius: 25px;
        text-decoration: none;
        font-weight: bold;
}

.third-p{
        color: white;
        margin-top: 50px;
        font-size: 1rem;
        margin-bottom: 40px;
}

/*****SEVENTH-SECTION*****/

.seventh-section p{
        color: white;
        text-align:center;
        margin-top: 30px;
        margin-bottom: 30px;
}

.seventh-section span{
        color: var(--secondary-color);
        text-decoration: underline;
}

/*

---------------------------
        RESPONSIVE
---------------------------

+/

/* to tablet -> from 768px to */
@media screen and (min-width: 768px) {
        
        /*--HEADER--*/

        /*--MAIN--*/

        .col-card{
                width: calc(100% / 3 - 20px);
        }

        .col-card-double {
                width: calc(((100% / 3) * 2) - 20px)
        }


        .row-card {
                align-items: stretch;
        }

        .row-card-second-section{
                display: flex;
                flex-wrap: wrap;
        }

        .left{
                width: 100%;
        }

        .right{
                width: 100%;
        }


        .second-section .left{
                width: 100%;
        }

        .row-card img{
                width: 50%;
                margin: 0 auto;
        }

        .img-container{
                padding-left: 0;
        }


        .fourth-section .col-card{
                width: calc(100% / 2 - 20px);
        }

        .testimonial-row{
                display:flex;
                align-items: center;
                padding: 0 10px;
        }

        .row-fith-section{
                display:flex
        }

        .col-fifth-section{
                width: 50%;
        }

        .third-section img{
                margin-top: 10px;
        }
}

/* to desk -> from 992px to */
@media screen and (min-width: 992px) {
        
        /*--
        
        HEADER
        
        --*/

        .col-menu{
                display: none;
        }

        .col-nav{
                display: block;
        }


        /*--
        
        MAIN
        
        --*/

        .double-content{
                display: flex;
                justify-content: space-between;   
        }

        .double-content > div{
                width: 50%;   
        }

        .fourth-section .col-card{
                width: calc(100% / 3 - 20px);
        }

        .row-card img{
                width: 80%;
        }

        .second-section .left{
                width: 50%;
                text-align: center;
        }

        .second-section img{
                width: 63%;
        }

        .second-section .right{
                width: 33%;
                text-align: center;
        }

}


